<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  type="text/css"  href="../../stylec.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/script.js"></script>
  <title>ZooAMARU.ec  </title>
</head>

<body>



  <header class="header">

    <div class="menu container">
      <a class="logo">ZooAMARU</a>
      <input type="checkbox" id="menu" />
      <nav class="navbar">
             <ul>
               <li><a href="http://localhost:8080/zoologico/inicio">Inicio</a></li>
                <li><a href="http://localhost:8080/zoologico/nosotros">Nosotros</a></li>
                <li><a href="http://localhost:8080/zoologico/tienda">Productos</a></li>
                <li><a href="http://localhost:8080/zoologico/fauna">Fauna</a></li>
                
                <li><a href="http://localhost:8080/zoologico/entradas">Entradas</a></li>
             </ul>
      </nav>

      <div>
        <ul>
          <li class="submenu">
            <img src="/images/car.svg" id="img-carrito" alt="">
            <div id="carrito">
              <!--<a href="a" id="vaciar-carrito" class="btn-3">Vaciar carrito</a>-->
              <a href="a" id="vaciar-carrito" class="btn-3" style="color: rgb(4, 237, 245);">Vaciar carrito</a>
              <a style="color: #443077;">..........................</a>
              <a href="vistaDatosClienteC.html" class="btn-4" style="color: rgb(44, 251, 8);">Realizar compra</a>
              <table id="lista-carrito">
                <thead>
                  <tr>
                    <th>Imagen</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Quitar</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div id="mensaje-agregado" class="mensaje-agregado">Producto agregado al carrito</div>

    <div class="header-content container">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="header-info">
              <div class="header-txt">
                <h1>Peluche Tigre Grande</h1>
                <div class="prices">
                  <p class="price-1">$199</p>
                  <p class="price-2">$150</p>
                </div>
                <a  class="btn-1">NUEVO PRODUCTO</a>
              </div>
              <div class="header-img">
                <img src="/images/tigre.png" alt="Slide 1">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="header-info">
              <div class="header-txt">
                <h1>Peluche Panda Grande</h1>
                <div class="prices">
                  <p class="price-1">$199</p>
                  <p class="price-2">$150</p>
                </div>
                <a  class="btn-1">NUEVO PRODUCTO</a>
              </div>
              <div class="header-img">
                <img src="/images/panda.png" alt="Slide 1">
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="header-info">
              <div class="header-txt">
                <h1>Peluche Elefante Grande</h1>
                <div class="prices">
                  <p class="price-1">$199</p>
                  <p class="price-2">$150</p>
                </div>
                <a  class="btn-1">NUEVO PRODUCTO</a>
              </div>
              <div class="header-img">
                <img src="/images/eleante.png" alt="Slide 1">
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
  </header>


  <hr>
  <section class="promociones container" id="lista-1">
    <h2 style="color: rgb(244, 237, 237)">Nuestros Productos</h2>
    <div class="categories">
      <div class="categorie">
        <div class="categorie-1">
          <h3>Promo 1</h3>
          <h3>Busto en Piedra</h3>
          <div class="prices">
            <p class="price-1">$95</p>
            <p class="precio">$70</p>
          </div>
          <a href="a" class="agregar-carrito btn-1" data-id="1">Agregar al carrito</a>
        </div>
        <div class="categorie-img">
          <img src="/images/ph1.png" alt="">
        </div>
      </div>

      <div class="categorie">
        <div class="categorie-1">
          <h3>Promo 2</h3>
          <h3>Panda Rojo de Felpa</h3>
          <div class="prices">
            <p class="price-1">$130</p>
            <p class="precio">$100</p>
          </div>
          <a href="a" class="agregar-carrito btn-1" data-id="2">Agregar al carrito</a>
        </div>
        <div class="categorie-img">
          <img src="/images/ph2.png" alt="">
        </div>
      </div>

      <div class="categorie">
        <div class="categorie-1">
          <h3>Promo 3</h3>
          <h3>Sombrero Tejido</h3>
          <div class="prices">
            <p class="price-1">$60</p>
            <p class="precio">$45</p>
          </div>
          <a href="a" class="agregar-carrito btn-1" data-id="3">Agregar al carrito</a>
        </div>
        <div class="categorie-img">
          <img src="/images/ph3.png" alt="">
        </div>
      </div>

      <div class="categorie">
        <div class="categorie-1">
          <h3>Promo 4</h3>
          <h3>Bolso Estampado</h3>
          <div class="prices">
            <p class="price-1">$70</p>
            <p class="precio">$50</p>
          </div>
          <a href="a" class="agregar-carrito btn-1" data-id="4">Agregar al carrito</a>
        </div>
        <div class="categorie-img">
          <img src="/images/ph4.png" alt="">
        </div>
      </div>

      <div class="categorie">
        <div class="categorie-1">
          <h3>Promo 5</h3>
          <h3>Tigre de Felpa</h3>
          <div class="prices">
            <p class="price-1">$150</p>
            <p class="precio">$130</p>
          </div>
          <a href="a" class="agregar-carrito btn-1" data-id="5">Agregar al carrito</a>
        </div>
        <div class="categorie-img">
          <img src="/images/tigre.png" alt="">
        </div>
      </div>

      <div class="categorie">
        <div class="categorie-1">
          <h3>Promo 6</h3>
          <h3>Elefante de Felpa</h3>
          <div class="prices">
            <p class="price-1">$170</p>
            <p class="precio">$150</p>
          </div>
          <a href="a" class="agregar-carrito btn-1" data-id="6">Agregar al carrito</a>
        </div>
        <div class="categorie-img">
          <img src="/images/eleante.png" alt="">
        </div>
      </div>

      <div class="categorie">
        <div class="categorie-1">
          <h3>Promo 7</h3>
          <h3>Libreta Grande</h3>
          <div class="prices">
            <p class="price-1">$30</p>
            <p class="precio">$20</p>
          </div>
          <a href="a" class="agregar-carrito btn-1" data-id="7">Agregar al carrito</a>
        </div>
        <div class="categorie-img">
          <img src="/images/ph5.png" alt="">
        </div>
      </div>

      <div class="categorie">
        <div class="categorie-1">
          <h3>Promo 8</h3>
          <h3>Jarro de Ceramica</h3>
          <div class="prices">
            <p class="price-1">$20</p>
            <p class="precio">$15</p>
          </div>
          <a href="a" class="agregar-carrito btn-1" data-id="8">Agregar al carrito</a>
        </div>
        <div class="categorie-img">
          <img src="/images/ph6.png" alt="">
        </div>
      </div>

    </div>

  </section>
  
  <section class="products container" id="lista-2">
  </section>
</body>

</html>