<!DOCTYPE html>
<html lang="en">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">   
    <link rel="stylesheet"  type="text/css"  href="../../style.css">    
    <title>ZooAMARU.ec </title>
</head>
<body>
    <div class="head">

        <div class="logo">
            <a style=" color: #8883ec;"class="logo">ZooAMARU</a>

        </div>
        <nav class="navbar">
            <ul>
               <li><a href="http://localhost:8080/zoologico/inicio">Inicio</a></li>
                <li><a href="http://localhost:8080/zoologico/nosotros">Nosotros</a></li>
                <li><a href="http://localhost:8080/zoologico/tienda">Productos</a></li>
                <li><a href="http://localhost:8080/zoologico/fauna">Fauna</a></li>
               
                <li class="dropdown">
					<a>Administracion</a>
					<ul class="submenu">
                    	<li><a href="http://localhost:8080/empleado/ingresarAnimalVst">Gestionar Zoologico</a></li>
                    	<li><a href="http://localhost:8080/empleado/ingresarEmpleadoVst">Gestion de Empleado</a></li>
                	</ul>
                </li>
                <li><a href="http://localhost:8080/zoologico/entradas">Entradas</a></li>
             </ul> 
        </nav>

    </div>

    <header class="content header">
        <h2 class="title"></h2>
        <a href="http://localhost:8080/zoologico/nosotros" class="btn">Saber sobre Amaru</a>  
      </header>

      <section class="content sau">
        <h2 class="title">Entradas</h2>
      
<!-- Agrega más imágenes aquí -->
        <div class="box-container">
            <div class="box">
                <i class="fab_entrada1">
                    <h3>NIÑOS</h3>
                    <p>A partir de 3 años, pagan $4</p>
                </i>
            </div>

            <div class="box">
                <i class="fab_entrada2">
                    <h3>ADULTOS</h3>
                    <p>A partir de 18 años, pagan $6</p>
                </i>
            </div>

            <div class="box">
                <i class="fab_entrada3">
                    <h3>ADULTO MAYOR</h3>
                    <p>A partir de 60 años, pagan $3</p>
                </i>
            </div>

            <div class="box">
                <i class="fab_entrada4">
                    <h3>ENTRAN GRATIS!</h3>
                    <p>Niños menores de 3 años y
                    Personas con capacidades especiales</p>
                </i>
            </div>

        </div>

      </section>
      <section class="content price">

        <article class="container">
            <h2 class="title">Fauna</h2>
            <p>
            
            </p>
            <a href="http://localhost:8080/zoologico/fauna" class="btn">Visitanos</a>

        </article>
      </section>

      <section class="content abaut">
        <h2 class="title">Nuestro Equipo</h2>
        <p>
            Principales Representantes AMARU
        </p>
        <div class="box-container2">
            <div class="box">
                <img src="/images/pc3.jpg" alt="">
                <h3>Maria Camila Fonseca</h3>
                <p>Gerente</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>

            </div>

            <div class="box">
                <img src="/images/pc2.jpg" alt="">
                <h3>Andres Roberto Ruano</h3>
                <p>Veterinario</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>

            </div>

            <div class="box">
                <img src="/images/pc1.jpg" alt="">
                <h3>Diana Carolina Herrera</h3>
                <p>Ambientalista</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>

            </div>


        </div>
      </section>
      <section class="content contact">
        <h2 style=" color: #8883ec;" class="title">Contactos</h2>

        <div class="footer-section">
            <div>
                <p> Tel: 123456789</p>
                <p> Cel: 0912345678</p>
                <p>Email: zoologico@gmail.ec</p>
            </div>
            <figure>
                <p> Ubicación Google Maps</p>
                <img src="/images/mapa.png" height="220px" width="100%" alt="mapa">
            </figure>
        
        </div>

      </section>

</body>
</html>