<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<link rel="stylesheet"  type="text/css"  href="../../estiloInsertarAnimal.css">
    <link rel="stylesheet"  type="text/css" href="../../estiloMenuFoot.css">

 
</head>




<body>




  <!-- /*MENU*/-->
    <nav>
        <ul>
            <li class="dropdown">
                <a href="#inicio">Inicio</a>
            </li>
            <li class="dropdown">
                <a href="#gestionar-animales">Gestionar Animales</a>
                <ul class="submenu">
           
                  
                    <li><a href="http://localhost:8080/empleado/vistaListaAnimalesVst">Listar</a></li>
                	<li><a href="http://localhost:8080/empleado/ingresarAnimalVst">Insertar</a></li>

                </ul>
            </li>
            <li class="dropdown">
                <a href="#gestionar-alimento">Gestionar Alimento</a>
                <ul class="submenu">
                    <li><a href="http://localhost:8080/empleado/vistaListarProductosVst">Listar</a></li>
                    <li><a href="http://localhost:8080/empleado/insertarProductoVst">Insertar</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#gestionar-provedores">Gestionar Proveedores</a>
                <ul class="submenu">
                    <li><a href="http://localhost:8080/empleado/insertarProveedorVst">Insertar</a></li>

                    <li><a href="http://localhost:8080/empleado/buscarTodosProveedoresVst">Listar</a></li>
                </ul>
            </li>
            
            



        </ul>
    </nav>
    
    
     <!--  /* hasta aqui MENU*/-->

    <h2 id= "h2titulo" >Editar animal</h2>
	<form th:action="@{/empleado/actualizarAnimal/{id}(id=${animal.id})}" th:object="${animal}" th:method="PUT" >

 <div class="div1">

    <table class="tab">
		
		<tr>
			<td id="tElm" >Nombre: </td>
			<td> <input type="text" th:field="${animal.nombre}" id="tElm" ></td>
        </tr>
        

        <tr> 
            <td id="tElm" >Mote: </td>
            <td><input type="text" th:field="${animal.mote}" id="tElm" > </td>
        </tr>


        <tr>
            <td id="tElm" >Fecha de nacimiento: </td>
            <td><input type= "datetime-local"  id="tElm" th:field="${animal.fechaNacimiento}"></td>
        </tr>


        <tr>
            <td id="tElm" >Edad: </td>
            <td><input type="number" th:field="${animal.edad}" id="tElm"  ></td>
        </tr>

        <tr>
            <td id="tElm" >Tipo: </td>
            <td><input type="text"  id="tElm" th:field="${animal.tipo}" ></td>
        </tr>

        <tr>
           	<td id="tElm" >Especie: </td>
            <td><input type="text" id="tElm" th:field="${animal.especie}" ></td>
        </tr>

     
        <tr>
            <td> <input type="submit" value="Guardar" id="boton1"> </td> 
        </tr>

       
        

    
       

</table>


 </div>


            
</form>


</body>



</html>