<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet"  type="text/css"  href="../estiloInsertarAnimal.css">
    <link rel="stylesheet"  type="text/css" href="../estiloMenuFoot.css">

 
</head>




<body>





   
   <!--  /*MENU*/-->
    <nav>
        <ul>
            <li class="dropdown">
                <a href="#inicio">Inicio</a>
            </li>
            <li class="dropdown">
                <a href="#gestionar-animales">Gestionar Animales</a>
                <ul class="submenu">
           
                  
                    <li><a href="http://localhost:8080/empleado/vistaListaAnimalesVst">Listar</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#gestionar-alimento">Gestionar Alimento</a>
                <ul class="submenu">
                    <li><a href="http://localhost:8080/empleado/vistaListarProductosVst">Listar</a></li>
                    <li><a href="http://localhost:8080/empleado/insertarProductoVst">Insertar</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#gestionar-provedores">Gestionar Proveedores</a>
                <ul class="submenu">
                    <li><a href="http://localhost:8080/empleado/insertarProveedorVst">Insertar</a></li>

                    <li><a href="http://localhost:8080/empleado/buscarTodosProveedoresVst">Listar</a></li>
                </ul>
            </li>
            
            


        </ul>
    </nav>
     <!--  /* hasta aqui MENU*/-->









    <h2 id= "h2titulo" >Ingresar animal</h2>
<form th:action="@{/empleado/ingresarAnimal}" th:object="${animal}" method="POST">

 <div class="div1">

    <table class="tab">

        

        <tr> 
            <td><input type="text" th:field="${animal.mote}" id="tElm" placeholder="Mote"> </td>
        </tr>


        <tr>
			<td id="tElm" >Fecha de nacimiento: </td>

            <td><input type= "datetime-local"  id="tElm" th:field="${animal.fechaNacimiento}" placeholder="Fecha de nacimiento"></td>
        </tr>


        <tr>
            <td><input type="number" th:field="${animal.edad}" id="tElm"  placeholder="Edad"></td>
        </tr>

        <tr>
            <td><input type="text"  id="tElm" th:field="${animal.tipo}" placeholder="Tipo"></td>
        </tr>

        <tr>
            <td><input type="text" id="tElm" th:field="${animal.especie}" placeholder="Especie"></td>

        </tr>

        <tr>
            <td> <input type="text" th:field="${animal.nombre}" id="tElm" placeholder="Nombre"></td>

        </tr>


     
            <tr>
                <td> <input type="submit" value="Guardar" id="boton1"> </td> 
            </tr>

       
        

    
       

</table>


 </div>


            
</form>

<footer>
    <p class="footer-info">© 2023 Mi Sitio Web. Todos los derechos reservados.</p>
    <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank" id="fb"></a>
        <a href="https://twitter.com/" target="_blank" id="tt"></a>
        <a href="https://www.instagram.com/" target="_blank" id="ig"></a>
        <a href="https://www.tiktok.com/" target="_blank" id="tk"></a>
    </div>
</footer>

</body>



</html>