<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">   
    <link rel="stylesheet" href="style.css">
    <title>Zoologico.ec</title>
</head>
<body>
    <div class="head">

        <div class="logo">
            <a href="a">LOGO</a>

        </div>
        <nav class="navbar">
                <a href="a">Inicio</a>
                <a href="a">Nosotros</a>
                <a href="a">Contacto</a>
                <a href="a">Mundo Animal</a>
                <a href="a">Administracion</a>
                <a href="a">Entradas</a>

        </nav>

    </div>

    <header class="content header">
        <h2 class="title">ZOOLOGICO</h2>
        <p>
            
      El Zoológico , aparte de ser un refugio de animales silvestres,
      también es un centro de rescate de individuos de diversas especies no domésticas,
      que llegan por diferentes circunstancias hasta nuestra clínica.
      Las causas principales que provocan esta situación son el tráfico ilegal, 
      la mascotización, la caza, ataques de mascotas y 
      otras amenazas que enfrentan frecuentemente animales como aves,
      monos y tortugas, las especies que arriban en mayor número, 
      aunque todos los años hay casos de una amplia variedad de animales.
        </p>
        <a href="a" class="btn">Saber mas</a>  
      </header>

      <section class="content sau">
        <h2 class="title">Mundo Animal</h2>
        <p>
            textos de inicio
        </p>

        <div class="box-container">
            <div class="box">
                <i class="fab fab-angular">
                    <h3>Felinos</h3>
                    <p>Tigre Leon Jaguar</p>
                </i>
            </div>

            <div class="box">
                <i class="fab fab-apple">
                    <h3>Aves</h3>
                    <p>Loro Pinguinos Garzas</p>
                </i>
            </div>

            <div class="box">
                <i class="fab fab-android">
                    <h3>Reptiles</h3>
                    <p>Cocodrilo Iguana Tortuga</p>
                </i>
            </div>

        </div>

      </section>
      <section class="content price">

        <article class="container">
            <h2 class="title">Entradas</h2>
            <p>
                textos de inicio
            </p>
            <a href="a" class="btn">Saber precio</a>

        </article>
      </section>

      <section class="content abaut">
        <h2 class="title">Nosotros</h2>
        <p>
            textos de inicio
        </p>
        <div class="box-container2">
            <div class="box">
                <img src="img/pic1.jpg" alt="">
                <h3>Lorem</h3>
                <p>ratione amet ea sapiente</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>

            </div>

            <div class="box">
                <img src="img/pic2.jpg" alt="">
                <h3>Lorem</h3>
                <p>ratione amet ea sapiente</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>

            </div>

            <div class="box">
                <img src="img/pic3.jpg" alt="">
                <h3>Lorem</h3>
                <p>ratione amet ea sapiente</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>

            </div>


        </div>
      </section>
      <section class="content contact">
        <h2 class="title">Contactos</h2>

        <div class="footer-section">
            <div>
                <p> Tel: 123456789</p>
                <p> Cel: 0912345678</p>
                <p>Email: zoologico@gmail.ec</p>
            </div>

            <div class="f-enlaces">
                <a href="a">Inicio</a>
                <a href="a">Nosotros</a>
                <a href="a">Contacto</a>
                <a href="a">Mundo Animal</a>
                <a href="a">Entradas</a>
            </div>

            <figure>
                <img src="img/mapa.png" height="220px" width="100%" alt="mapa">
            </figure>
        
        </div>

      </section>

</body>
</html>